<script> 
  // footer
  particlesJS.load('particles-js-footer', '/js/particles-footer.json', function() {
    console.log('callback - particles.js config loaded');
  });
</script>

<footer class="site-footer">
  <div style="overflow:hidden;position:relative">
    <div class="wrapper">
      <img style="float: right;" src="{{ site.url }}/img/ffg_logo_en_2018_rgb_300.png" alt="ffg" width="180"/>
      <img style="float: right;" src="{{ site.url }}/img/kiras_logo_bundesadler_rgb.png" alt="kiras" width="180"/>
      <div id="footer_wrap" class="outer">
        <footer class="inner">
          {% if site.github.is_project_page %}
            <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
          {% endif %}
          <p>Last update: {{ site.time | date_to_long_string}}</p>
          <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
        </footer>
      </div>

    </div>

    <!-- Particlesjs banner -->
    <div class="parallax">
      <div id="particles-js-footer"></div>
    </div>
  </div>

</footer>
